<span class="inline-flex items-center gap-x-2 text-xl font-semibold dark:text-white">
  <span class="dark:hidden">
    <img class="w-10 h-auto" src="/velovostra_logo_dark.svg" alt="Logo">
  </span>
  <span class="invisible dark:visible">
    <img class="w-10 h-auto" src="/velovostra_logo_white.svg" alt="Logo">
  </span>
  VeloVostra
</span>