<!-- ========== HEADER ========== -->
<header class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-[48] w-full bg-white border-b text-sm py-2.5 md:ps-[260px] dark:bg-neutral-800 dark:border-neutral-700">
  <nav class="p-4 sm:px-6 flex basis-full items-center w-full mx-auto">
    <div class="me-5 lg:me-0 lg:hidden">
      <!-- Logo -->
      <a class="flex-none rounded-md text-xl inline-block font-semibold focus:outline-none focus:opacity-80" href="/" aria-label="VeloVostra">
        <%= render "partials/logo" %>
      </a>
      <!-- End Logo -->
    </div>

    <div class="flex items-center justify-end ms-auto md:justify-between gap-x-1 md:gap-x-3">
      <div class="flex flex-row items-center justify-end gap-1">
        <button type="button" class="relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700">
          Log out
        </button>
      </div>
    </div>
  </nav>
</header>
<!-- ========== END HEADER ========== -->